@model Tp3EFcoreRelations.Models.MembershipType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MembershipType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingUpFree" class="control-label"></label>
                <input asp-for="SingUpFree" class="form-control" />
                <span asp-validation-for="SingUpFree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInMonth" class="control-label"></label>
                <input asp-for="DurationInMonth" class="form-control" />
                <span asp-validation-for="DurationInMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRate" class="control-label"></label>
                <input asp-for="DiscountRate" class="form-control" />
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
